<ion-view title="{{service.title}}">
   <my-search></my-search>
   <ion-content class="has-subheader" has-header="true" has-bouncing="true" padding="false" >
      <div class="item item-divider item-icon-left item-button-right">
         <i class="icon ion-ios-eye"></i>
         List of diary entry
         <button class="button button-clear button-assertive" style="right:60px;" ng-click="service.deleteItem = !service.deleteItem"><i class="icon ion-close-circled "></i></button>
         <button class="button button-clear button-stable" ui-sref="main.list({jesua:'new'})"><i class="icon ion-plus-circled "></i></button>
      </div>
      <ion-list show-reorder="false" can-swipe="true" show-delete="service.deleteItem" >
         <ion-item ng-repeat="father in generations|filter:search|limitTo:20" href="#/main/list/{{father.jesua}}" class="item item-text-wrap listBar">
            <h2>
               <span ng-bind="father.name"></span>: <small style="font-size:0.8em;color:#aaa;" ng-if="father.description" ng-bind="father.description"></small>
            </h2>
            <span class="badge badge-light" ng-bind="father.count"></span>

            <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(father, $fromIndex, $toIndex)"></ion-reorder-button>
            <ion-option-button ng-click="module.delete(father.jesua,$index)" class=""><a style="padding-top:auto;" class="button button-icon icon ion-close-circled assertive"></a> </ion-option-button>
            <ion-delete-button class="ion-close-circled" ng-click="module.delete(father.jesua,$index)"></ion-delete-button>
         </ion-item>
      </ion-list>
   </ion-content>
</ion-view>
