<ion-view title="{{service.title}}">
   <ion-nav-bar class="bar-positive" align-title="left">
      <ion-nav-back-button class="button-clear" style="margin-right:7px"><i class="icon ion-ios-arrow-back"></i></ion-nav-back-button>

      <ion-nav-buttons side="left"><button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button></ion-nav-buttons>
      <ion-nav-buttons side="right">
         <button menu-close class="button button-icon icon ion-loop assertive-bg icon-loop" ng-click="onlineSync()" ></button>
         <button menu-close class="button button-icon icon ion-log-out assertive-bg icon-shadow" ng-click="logoff()" ></button>
      </ion-nav-buttons>
   </ion-nav-bar>
   <ion-tabs class="tabs-sky tabs-icon-left" on-swipe-up="module.action()">
      <ion-tab title="List Details" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
         <ion-content has-header="true" has-bouncing="false" padding="false">
            <form name="dataForm" id="dataForm" novalidate ng-init="module.initForm(this)" ng-class="service.isValide"  ng-model-options="{ updateOn: 'default blur' }">
               <div class="list">

                  <div class="item " style="height:150px;padding:0;">
                     <img src="img/bcgr/birdList-1280.jpg" style="width:100%;height:100%" srcset="img/bcgr/birdList-480.jpg 640w, img/bcgr/birdList-640.jpg 1024w, img/bcgr/birdList-1280.jpg 1366w, img/bcgr/birdList-1800.jpg 1800w" />
                  </div>
                  <!--
                  <div class="item item-icon-left item-divider" style="height:50px;"><i class="icon ion-ios-photos-outline"></i>List Image</div>
                  <a class="item item-thumbnail-left">
                     <img id="profileImg" class="captureImg link" ng-src="{{father.img.alpha||'img/default.jpg'}}" ng-click="module.getPicture($event,'img','#profileFile','profile.jpg')" />
                     <button class="button icon-left ion-upload button-clear button-dark" ng-click="module.getPicture($event,'img','#profileFile','profile.jpg')">Upload image</button>
                     <h2>Avatar</h2><p>Tap image to edit.</p>
                  </a>
                  <input id="profileFile" name="profileFile" type="file" accept="image/jpeg" style="display:none" multiple placeholder="Profile Image" onchange="angular.element(this).scope().module.getPicture(event,'img',null,'profile.jpg')" />
                  -->
                  <div class="item item-icon-left item-divider"><i class="icon ion-ios-list-outline"></i>List Details</div>
                  <input type="hidden" ng-model="father.jesua" >
                  <label class="item item-input item-floating-label"><span class="input-label">Name of List</span><input name="name" type="text" required placeholder="List name" ng-model="father.name" autocomplete="name" /></label>
                  <label class="item item-input item-floating-label"><span class="input-label">Description of List</span><textarea name="description" rows="7"  required placeholder="Describe the list" ng-model="father.description" autocomplete="description"></textarea></label>
               </div>
            </form>
         </ion-content>
      </ion-tab>

      <ion-tab title="Birds Associated" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
         <ion-content has-header="true" has-bouncing="true" padding="false">
               <div class="bar bar-header item-input" style="padding-left:auto;">
                 <label class="item-input-wrapper light-bg" >
                   <i class="icon ion-ios-search placeholder-icon"></i><input type="search" placeholder="Search" ng-model="search">
                 </label>
                 <button class="button button-clear button-dark " ng-click="search=null">Cancel</button>
               </div>
               <div class="item item-icon-left item-divider item-button-right" style="height:40px;vertical-align: top;">
                  <i class="icon ion-ios-paper-outline"></i>
                  Selected birds
               </div>

               <div ng-repeat="child in father.links_.linkBird.rows|filter:search|limitTo:50" class="card" >
                  <div class="item item-divider" ng-bind="child.bird"></div>
                  <div class="item item-text-wrap">
                     <label class="item item-input"><span class="input-label">Created:</span><input type="text" readonly style="background:transparent" placeholder="Created on" ng-model="child.created"></label>
                     <label class="item item-input">
                        <span class="input-label">Description:</span>
                        <input type="text" placeholder="Description" ng-blur="module.linkUpline(child,'linkBird',['description','location'])" ng-change="child.aChanged=true" ng-model="child.description">
                     </label>
                     <label class="item item-input">
                        <span class="input-label">Location:</span>
                        <input type="text" placeholder="Location" ng-blur="module.linkUpline(child,'linkBird',['description','location'])" ng-change="child.aChanged=true" ng-model="child.location">
                     </label>
                  </div>
               </div>
            <div style="height:100px" ></div>

         </ion-content>
      </ion-tab>

      <ion-tab title="Bird List" icon-on="ion-ios-eye" icon-off="ion-ios-eye-outline">
         <ion-content has-header="true" has-bouncing="true" padding="false">
            <div class="list ">
               <div class="bar bar-header item-input" style="padding-left:auto;">
                 <label class="item-input-wrapper light-bg" >
                   <i class="icon ion-ios-search placeholder-icon"></i><input type="search" placeholder="Search" ng-model="search">
                 </label>
                 <button class="button button-clear button-dark " ng-click="search=null">Cancel</button>
               </div>
               <div class="item item-icon-left item-divider item-button-right" style="height:40px;vertical-align: top;">
                  <i class="icon ion-ios-eye-outline"></i>
                  Bird Lists
               </div>
               <div ng-repeat="child in father.links_.ales.rows|filter:search|limitTo:10" class="item item-button-right listBar" >
                  <input form="dataForm" type="hidden" ng-model="child.jesua" />
                  <span ng-bind="child.name"></span>
                  <!--<button ng-click="module.linkOnlineCtrl(child.list===null,{bird:child.name,list:father.jesua},'ales',child)"-->
                  <button ng-click="module.linkOnlineCtrl(child.list,{bird:child.name,list:father.jesua},'linkBird',child,'list')"
                     ng-class="'button button-clear icon-left icon-modified '+{true:'button-balanced ion-checkmark-circled',false:'button-calm ion-plus-circled'}[child.list===father.jesua]" ></button>
               </div>
            </div>
         </ion-content>
      </ion-tab>
   </ion-tabs>
</ion-view>